body {
    background-color: #3f3f3f;
    color: #dedede;
}

.wrap {
    width: 80%;
    margin: 0 auto;
}

.content{


}

.topMenu {
    clear: both;
    margin: 0 auto;
}

.ui-messages-error {
    padding: 7px !important;
}

.loginMessages {
    margin: 0 !important;
}

#loginForm {
    float: right;
}

.width100 {
    width: 100%;
}