# Add any directories, files, or patterns you don't want to be tracked by version control
*.class

# Package Files #
*.jar
*.war
*.ear
target/

# NetBeans specific #
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# eclipse specific git ignore
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

#removing idea files
.idea/
*.iml
`
#workspace
showcaseWorkspace/

*/node_modules/*